html,body{
    margin:0;
    padding:0;
}
.Wrap{
    max-width: 1400px;
    margin: 0  auto;
}
.Header{
    width:100% ;
    height:130px;
    background-color: rgb(142, 171, 25);
}
.Footer{
    width:100%;
    height: 200px;
    background-color: rgb(157, 157, 221);
}
.WrapMiddle{
    width:100%;
    font-size: 0;
}
/* .Left{
    height: 625px;
    background-color: blue;
    width: 20.83%; ;
    display: inline-block;
} */

.Left{
    height: 625px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    width: 200px;
    left: -200px;
    font-size: 0.9rem;
    transition:  transform 0.3s  ;
}

.Main{
    height: 625px;
    width: 68.75%;
    background-color: rgb(57, 158, 178);
    display: inline-block;
}
.Right{
    height: 625px;
    width: 10.41%;
    background-color: chocolate;
    display: inline-block;
}

@media(min-width:40rem)
{
    .Left{
        width: 20.83%;

    }
}