
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    white-space: nowrap;   
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.image img{
       width: 100%;
       height:350px;
       position: relative;
}
.txt{
        position: absolute;
        margin-top:-220px;
        margin-left: 70px;
        color:aliceblue;
}
.content{
        border:80px solid blue;
}